.red {
    background-color: #F44336; /* red */
}

.pink {
    background-color: #E91E63; /* pink */
}

.purple {
    background-color: #9C27B0; /* purple */

}

.deepPurple {
    background-color: #673AB7; /* deepPurple */
}

.indigo {
    background-color: #3F51B5; /* indigo */
}

.blue {
    background-color: #2196F3; /* blue */
}

.lightBlue {
    background-color: #03A9F4; /* lightBlue */
}

.cyan {
    background-color: #00BCD4; /* cyan */
}

.teal {
    background-color: #009688; /* teal */
}

.green {
    background-color: #4CAF50; /* green */
}

.lightGreen {
    background-color: #8BC34A; /* lightGreen */
}

.lime {
    background-color: #CDDC39; /* lime */
}

.yellow {
    background-color: #FFEB3B; /* yellow */
}

.amber {
    background-color: #FFC107; /* amber */
}

.orange {
    background-color: #FF9800; /* orange */
}

.deepOrange {
    background-color: #FF5722; /* deepOrange */
}

.brown {
    background-color: #795548; /* brown */
}

.grey {
    background-color: #9E9E9E; /* grey */
}

.blueGrey {
    background-color: #607D8B; /* blueGrey */
}