.red {
    background-color: #F44336; /* red */
    color: #000;
}

.pink {
    background-color: #E91E63; /* pink */
    color: #000;
}

.purple {
    background-color: #9C27B0; /* purple */
    color: #000;

}

.deepPurple {
    background-color: #673AB7; /* deepPurple */
    color: #000;
}

.indigo {
    background-color: #3F51B5; /* indigo */
    color: #000;
}

.blue {
    background-color: #2196F3; /* blue */
    color: #000;
}

.lightBlue {
    background-color: #03A9F4; /* lightBlue */
    color: #000;
}

.cyan {
    background-color: #00BCD4; /* cyan */
    color: #000;
}

.teal {
    background-color: #009688; /* teal */
    color: #000;
}

.green {
    background-color: #4CAF50; /* green */
    color: #000;
}

.lightGreen {
    background-color: #8BC34A; /* lightGreen */
    color: #000;
}

.lime {
    background-color: #CDDC39; /* lime */
    color: #000;
}

.yellow {
    background-color: #FFEB3B; /* yellow */
    color: #000;
}

.amber {
    background-color: #FFC107; /* amber */
    color: #000;
}

.orange {
    background-color: #FF9800; /* orange */
    color: #000;
}

.deepOrange {
    background-color: #FF5722; /* deepOrange */
    color: #000;
}

.brown {
    background-color: #795548; /* brown */
    color: #000;
}

.grey {
    background-color: #9E9E9E; /* grey */
    color: #000;
}

.blueGrey {
    background-color: #607D8B; /* blueGrey */
    color: #000;
}