.unexcistingClass {
    color: #F44336; /* red */
    color: #E91E63; /* pink */
    color: #9C27B0; /* purple */
    color: #673AB7; /* deepPurple */
    color: #3F51B5; /* indigo */
    color: #2196F3; /* blue */
    color: #03A9F4; /* lightBlue */
    color: #00BCD4; /* cyan */
    color: #009688; /* teal */
    color: #4CAF50; /* green */
    color: #8BC34A; /* lightGreen */
    color: #CDDC39; /* lime */
    color: #FFEB3B; /* yellow */
    color: #FFC107; /* amber */
    color: #FF9800; /* orange */
    color: #FF5722; /* deepOrange */
    color: #795548; /* brown */
    color: #9E9E9E; /* grey */
    color: #607D8B; /* blueGrey */
}